name: test
on: [push]
jobs:
  unittests:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: current_branch

      - name: Build 18.04
        run: docker build -t 2maz/templ -f Dockerfile . --build-arg PKG_BRANCH=${{ steps.current_branch.outputs.branch }}

      - name: Test-on-ubuntu:18.04
        run: docker run 2maz/templ /bin/bash -c "source /home/docker/rock_test/env.sh; cd /home/docker/rock_test/planning/templ; ./build/test/templ-test --log_level=all"
